<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.totsp.embiggen"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <!-- for multicast and such need at least 2.3.7? -->
    <uses-sdk android:minSdkVersion="9" />

    <uses-feature android:name="android.hardware.wifi" />
    <uses-feature android:name="android.hardware.touchscreen" />

    <application
        android:name=".App"
        android:icon="@drawable/icon"
        android:label="Embiggen"
        android:theme="@style/embiggen_theme" >
        <service android:name="com.totsp.server.HTTPServerService" />
        <service android:name="com.totsp.embiggen.messageclient.MessageClientService" />

        <activity
            android:name=".GetStarted"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light" >
        </activity>
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <!-- temp start here -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Preferences"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LaunchChooser"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light" />
        <activity
            android:name=".GalleryChooserPhotos"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light" />
        <activity
            android:name=".GalleryChooserVideos"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light" />
        <activity
            android:name=".BucketList"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.Light" />
    </application>

</manifest>