<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.totsp.embiggen"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- can't use vid thumbnails stuff in less than 5 -->
    <!-- can't support 3GP videos and older audio codecs in less than 7 -->
    <uses-sdk android:minSdkVersion="7" />

    <uses-feature android:name="android.hardware.wifi" />
    <uses-feature android:name="android.hardware.touchscreen" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name=".App"  
        android:icon="@drawable/icon"      
        android:label="Embiggen" >
        
         <service android:name="com.totsp.server.HTTPServerService" />
        
        <activity
            android:name=".GetStarted"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Preferences"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LaunchChooser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GalleryChooserPhotos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GalleryChooserVideos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BucketList"
            android:screenOrientation="portrait" />
    </application>

</manifest>